html, body { margin: 0; padding: 0; }

.top-bar {
    background: black !important;
}


.nav-name li {
    display: inline-block !important;
    list-style-type: none;
    margin-right: 30px;
    background: black !important;
}

.top-bar, .top-bar ul {
    background-color: black;
}


.hero-section {
    background: url("https://www.nationsonline.org/gallery/World/newspapers.jpg") 50% no-repeat;
    background-color: rgba(black, black, black, 0.8) !important;
    background-size: cover;
    height: 60vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .hero-section .hero-section-text {
    /* text-shadow: 1px 1px 2px #0a0a0a; */
    font-weight: bold;
  }

  .hero-section-text h1 {
    color: #ffffff;
    background-color: black;
    font-size: 100px;
    padding: 20px;
    border-radius: 25px;
  }
  
  .button {
    border-radius: 10px;
  }
  